.container {
    .main-points {
        display: flex;
      
        margin-top: 100px;

        li {
            display: flex;
            align-items: flex-start;
            font-size: .9rem;

            img {
                max-width: 8px;
                display: block;
                margin-right: 5px;
                margin-top: 8px;
            }
        }

        li:nth-child(2) {
            margin-left: 25px;
            margin-right: 25px;
        }

    }
}

.header-content {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 25px;

    &__item:first-child {
        flex-basis: 80%;
    }

    &__item {
        h1 {
            font-size: 3rem;
            line-height: 1.2;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/corner.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                left: -25px;
                top: -25px;
            }
        }

        img {
            margin-top: -120px;

        }

        .ready {
            max-width: 80%;
        }



    }

}

@media (max-width:1199px) {
    .header-content {
        &__item {
            img {
                margin-top: -100px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header-content {
        &__item:first-child {
            flex-basis: 100%;
        }

        &__item {
            img {
                display: none;
            }
        }
    }
}



.offer {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.4rem;

    del {
        font-weight: 200;
        color: $sec-text;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.main-btn {
    margin-top: 25px;

    a {
        display: block;
        background-color: $main-blue;
        max-width: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        box-shadow: 0 5px 0 #152a58, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
        border-radius: 5px;
        transition: all .4s;
        &:hover {
            transform: translateY(1px);
            background-color: #213869e0;
        }

        span {
            color: #fff;
            font-weight: 700;
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 425px) {
    .header-content {
        margin-left: 0px;

        &__item {
            h1 {
                font-size: 2.4rem;
                text-align: center;

                &:before {
                    left: 20px;
                }
            }

            .ready {
                font-size: 1rem;
                max-width: 100%;
                text-align: center;
            }

            .offer {
                text-align: center;

                span {
                    text-align: center;
                }
            }

            .main-btn {
                a {
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .header-content {
        margin-left: 0;

        &__item {
            h1 {
                font-size: 2.4rem;

                &:before {
                    left: 10px;
                }
            }


        }
    }
}
@media (max-width: 351px) {
    .header-content {
        margin-left: 0;

        &__item {
            h1 {
                font-size: 2.4rem;

                &:before {
                   display: none;
                }
            }


        }
    }
}