.container {
    .main-points {
        display: flex;
        margin-top: 35px;

        li {
            display: flex;
            align-items: flex-start;
            font-size: .9rem;

            img {
                max-width: 8px;
                display: block;
                margin-right: 5px;
                margin-top: 8px;
            }
        }
             
        li:nth-child(2) {
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}

.header-content {
    display: flex;
    align-items: flex-start;
    margin-top: 125px;
    margin-left: 25px;

    &__item:first-child {
        flex-basis: 80%;
    }

    &__item {
        h1 {
            font-size: 2.2rem;
            line-height: 1.2;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/corner.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                left: -25px;
                top: -15px;
            }

            &:after {
                content: '';
                position: absolute;
                background-image: url(../img/arrow.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100px;
                height: 100px;
                right: 200px;
            }
        }

        img {
            margin-top: -30px;

        }

        .ready {
            font-size: 1.2rem;
            max-width: 80%;
        }



    }

}

@media (max-width: 1115px) {
    .header-content {
        &__item {
            h1 {
                &::after {
                    right: 50px;
                }
            }
        }
    }
}


@media (max-width: 1015px) {
    .header-content {
        &__item {
            h1 {
                &::after {
                    right: 100px;
                }
            }
        }
    }
}





@media (min-width: 768px) and (max-width: 1000px) {
    .header-content {
        &__item {
            h1 {
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-content {
        &__item:first-child {
            flex-basis: 100%;
        }

        &__item {
            h1 {
                &::after {
                    right: 200px;
                }
            }

            img {
                display: none;
            }
        }
    }
}

@media (max-width: 681px) {
    .header-content {
        &__item:first-child {
            flex-basis: 100%;
        }

        &__item {
            h1 {
                &::after {
                    right: 100px;
                }
            }
        }
    }
}

@media (max-width: 577px) {
    .header-content {
        &__item:first-child {
            flex-basis: 100%;
        }

        &__item {
            h1 {
                &::after {
                    right: 50px;

                }
            }
        }
    }
}

@media (max-width: 530px) {
    .header-content {
        &__item:first-child {
            flex-basis: 100%;
        }

        &__item {
            h1 {
                &::after {
                    right: 0;

                }
            }
        }
    }
}

@media (max-width: 476px) {
    .header-content {
        &__item:first-child {
            flex-basis: 100%;
        }

        &__item {
            h1 {
                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}

.offer {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.4rem;

    del {
        font-weight: 200;
        color: $sec-text;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.main-btn {
    margin-top: 25px;

    a {
        display: block;
        background-color: $main-blue;
        max-width: 320px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        box-shadow: 0 5px 0 #152a58, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
        border-radius: 5px;
        transition: all .4s;

        &:hover {
            transform: translateY(1px);
            background-color: #213869e0;
        }

        span {
            color: #fff;
            font-weight: 700;
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 476px) {
    .header-content {
        margin-left: 0px;

        &__item {
            h1 {
                font-size: 2.4rem;
                text-align: center;
            }


            .offer {
                text-align: center;

                span {
                    text-align: center;
                }
            }

            .main-btn {
                a {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .header-content {
        margin-left: 0;

        &__item {
            h1 {
                font-size: 2.4rem;
            }


        }
    }
}