@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Geometria/Geometria-Thin.woff") format("woff"), url("../../fonts/Geometria/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-MediumItalic.eot");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"), url("../fonts/Geometria/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Italic.eot");
  src: local("Geometria Italic"), local("Geometria-Italic"), url("../fonts/Geometria/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraBoldItalic.eot");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-BoldItalic.eot");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"), url("../fonts/Geometria/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"), url("../fonts/Geometria/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-HeavyItalic.eot");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"), url("../fonts/Geometria/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ThinItalic.eot");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"), url("../fonts/Geometria/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraLightItalic.eot");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"), url("../fonts/Geometria/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../fonts/Geometria/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Light.woff") format("woff"), url("../fonts/Geometria/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraLight.eot");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html,
body {
  font-size: calc(.5em + 1vw);
  font-family: 'Geometria';
}

@media (min-width: 425px) {
  html,
  body {
    font-size: calc(.45em + 1vw);
  }
}

@media (min-width: 1440px) {
  html,
  body {
    font-size: calc(.4em + .7vw);
  }
}

@media (min-width: 1979px) {
  html,
  body {
    font-size: calc(.4em + .5vw);
  }
}

.text-blue {
  color: #213869;
}

.h2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h2-container__title {
  color: #0d0c11;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.h2-container__img {
  min-width: 80px;
  margin-top: -5px;
}

.h2-container__text {
  color: #494949;
}

.bold.black {
  font-weight: 700;
  color: #000;
  font-size: 1.1rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.973);
}

.header__logo {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-transform: uppercase;
  color: #213869;
  font-weight: 900;
  font-size: 1.2rem;
}

.header__logo span {
  display: block;
  color: #747474;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.65px;
}

.header__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header__menu {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  list-style: none;
  font-size: .7rem;
}

.header__link {
  color: #333333;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__link:hover {
  color: #213869;
  cursor: pointer;
}

.header__burger {
  display: none;
}

@media (max-width: 788px) {
  .header__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header .header__list {
    position: fixed;
    z-index: 1000;
    -webkit-transition: .8s;
    transition: .8s;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.947);
  }
  .header .menu_active {
    right: 0;
    z-index: 5;
  }
  .header .header__burger {
    display: block;
    position: fixed;
    z-index: 10;
    height: 25px;
    right: 25px;
    width: 25px;
  }
  .header .header__burger span {
    display: block;
    margin: 5px;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.568);
  }
  .header .burger_active {
    margin-top: 7px;
  }
  .header .burger_active span {
    margin-bottom: -7px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #213869;
  }
  .header .burger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .burger_active span:nth-child(2) {
    display: none;
  }
  .header .burger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.container .main-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.container .main-points li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: .9rem;
}

.container .main-points li img {
  max-width: 8px;
  display: block;
  margin-right: 5px;
  margin-top: 8px;
}

.container .main-points li:nth-child(2) {
  margin-left: 25px;
  margin-right: 25px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 125px;
  margin-left: 25px;
}

.header-content__item:first-child {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.header-content__item h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  position: relative;
}

.header-content__item h1:before {
  content: '';
  position: absolute;
  background-image: url(../img/corner.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: -25px;
  top: -15px;
}

.header-content__item h1:after {
  content: '';
  position: absolute;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  right: 200px;
}

.header-content__item img {
  margin-top: -30px;
}

.header-content__item .ready {
  font-size: 1.2rem;
  max-width: 80%;
}

@media (max-width: 1115px) {
  .header-content__item h1::after {
    right: 50px;
  }
}

@media (max-width: 1015px) {
  .header-content__item h1::after {
    right: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .header-content__item h1::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-content__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-content__item h1::after {
    right: 200px;
  }
  .header-content__item img {
    display: none;
  }
}

@media (max-width: 681px) {
  .header-content__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-content__item h1::after {
    right: 100px;
  }
}

@media (max-width: 577px) {
  .header-content__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-content__item h1::after {
    right: 50px;
  }
}

@media (max-width: 530px) {
  .header-content__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-content__item h1::after {
    right: 0;
  }
}

@media (max-width: 476px) {
  .header-content__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-content__item h1::before {
    display: none;
  }
  .header-content__item h1::after {
    display: none;
  }
}

.offer {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.4rem;
}

.offer del {
  font-weight: 200;
  color: #747474;
  margin-left: 5px;
  margin-right: 5px;
}

.main-btn {
  margin-top: 25px;
}

.main-btn a {
  display: block;
  background-color: #213869;
  max-width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0 5px 0 #152a58, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
          box-shadow: 0 5px 0 #152a58, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
  border-radius: 5px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-btn a:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  background-color: #213869e0;
}

.main-btn a span {
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

@media (max-width: 476px) {
  .header-content {
    margin-left: 0px;
  }
  .header-content__item h1 {
    font-size: 2.4rem;
    text-align: center;
  }
  .header-content__item .offer {
    text-align: center;
  }
  .header-content__item .offer span {
    text-align: center;
  }
  .header-content__item .main-btn a {
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .header-content {
    margin-left: 0;
  }
  .header-content__item h1 {
    font-size: 2.4rem;
  }
}

.urgent-consult {
  padding-top: 50px;
  padding-bottom: 50px;
}

.urgent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.urgent-container__item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.urgent-container__item:nth-child(2) {
  margin-left: 25px;
}

.urgent-container__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e52707;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 35px;
}

.urgent-container__title img {
  max-width: 80px;
  margin-top: -8px;
}

.urgent-container__list li {
  margin-top: 15px;
}

.urgent-container .list-bold {
  font-weight: 700;
}

@media (max-width: 495px) {
  .urgent-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .urgent-container__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 1.1rem;
  }
  .urgent-container__item:first-child {
    display: none;
  }
  .urgent-container__title img {
    max-width: 50px;
  }
}

@media (max-width: 375px) {
  .urgent-container__title {
    font-size: 1.2em;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  padding: 30px;
  -webkit-box-shadow: 0 9px 30px 5px rgba(45, 45, 45, 0.08);
          box-shadow: 0 9px 30px 5px rgba(45, 45, 45, 0.08);
}

.offer__text {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  font-size: .9rem;
}

.offer__img {
  max-width: 15px;
}

.offer__btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #e50707;
  -webkit-box-shadow: 0 4px 0 #b60000, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
          box-shadow: 0 4px 0 #b60000, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
}

.offer__btn span {
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 742px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__text {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .offer__img {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.last-offer .offer__text {
  font-size: 1.5rem;
  text-align: center;
}

.last-offer .offer__btn {
  width: 270px;
  background-color: #213869;
  -webkit-box-shadow: 0 4px 0 #152a58, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
          box-shadow: 0 4px 0 #152a58, 0 12px 53px 9px rgba(33, 56, 105, 0.2);
}

.page-consult {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding: 0 -10px;
}

.card-container__item {
  margin: 0 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 30px 5px rgba(45, 45, 45, 0.05);
          box-shadow: 0 16px 30px 5px rgba(45, 45, 45, 0.05);
}

.card-container__title {
  color: #2e2e2e;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  max-width: 95%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.card-container__text {
  color: #0d0c11;
  font-size: 0.9rem;
  max-width: 95%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.card-container__link {
  margin-top: 25px;
  color: #213869;
  font-weight: 700;
  border-bottom: 1px solid #213869;
  font-size: 1.1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 768px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .card-container__item {
    margin: 15px 0;
  }
}

.aboutMe {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 450px;
}

.aboutMe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.aboutMe-container__item {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.aboutMe-container__item:first-child {
  position: absolute;
  left: -200px;
}

.aboutMe-container__item:last-child {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
}

.aboutMe-container__btn .main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0;
}

.aboutMe-container__btn .main-btn a {
  margin-left: auto;
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.aboutMe-container__img img {
  max-width: 650px;
}

.aboutMe-container__text {
  color: #494949;
  font-size: 0.9rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .aboutMe-container__btn .main-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutMe-container__btn .main-btn a {
    margin-top: 15px;
  }
  .aboutMe-container__item .h2-container__img-container {
    display: none;
  }
}

.situation {
  padding-top: 50px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53%, white), color-stop(53%, #f4f4f4));
  background: linear-gradient(180deg, white 53%, #f4f4f4 53%);
}

.situation .card-container__item {
  min-height: 620px;
}

.situation .card-container__text {
  font-size: 0.8rem;
}

.card-container-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding: 0 -10px;
}

.card-container-last__item {
  padding-top: 50px;
  padding-bottom: 50px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 30px 5px rgba(45, 45, 45, 0.05);
          box-shadow: 0 16px 30px 5px rgba(45, 45, 45, 0.05);
}

.card-container-last__item .item-last {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container-last__item .item-last:nth-child(2) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.card-container-last__title {
  color: #0d0c11;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  max-width: 95%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.card-container-last__text {
  color: #0d0c11;
  font-size: 0.9rem;
  max-width: 95%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.card-container-last__link {
  margin-top: 25px;
  color: #213869;
  font-weight: 700;
  border-bottom: 1px solid #213869;
  font-size: 1.1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}

.card-container-last__link img {
  max-width: 100px;
  display: block;
  margin: 0 auto 50px;
}

@media (max-width: 768px) {
  .situation .card-container__item {
    min-height: 100px;
    font-size: 1rem;
    width: 100%;
  }
}

.page-priority {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.priority__title {
  color: #676767;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}

.priority__title::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-color: #21386949;
  top: -25px;
  left: -25px;
}

.priority__title.last {
  margin-bottom: 0;
}

.priority-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.priority-container .answer-container {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  width: 100%;
  padding: 0 -10px;
}

.priority-container .answer-container .main-btn {
  width: 100%;
}

.priority-container .answer-container .main-btn a {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.priority-container .answer-container .answer-item {
  max-width: 100%;
  margin: 35px 10px;
  padding: 0;
  min-width: 260px;
}

.priority-container .answer-container .answer-item__title {
  padding-top: 8px;
  padding-bottom: 8px;
}

.priority-container .answer-container .answer-item__title::before, .priority-container .answer-container .answer-item__title::after {
  top: 22px;
}

@media (max-width: 768px) {
  .priority-container .answer-container .answer-item__title::before, .priority-container .answer-container .answer-item__title::after {
    top: 18px;
  }
}

@media (max-width: 425px) {
  .priority-container .answer-container .answer-item__title::before, .priority-container .answer-container .answer-item__title::after {
    top: 15px;
  }
}

.steps {
  padding-top: 50px;
  padding-bottom: 50px;
}

.steps h2 {
  text-align: center;
}

.steps h2 span {
  border-bottom: 1px dashed #213869;
  padding-bottom: 5px;
}

.step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

.step-container__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #0d0c11;
}

.step-container__item1 {
  text-align: right;
  margin-right: 35px;
  position: relative;
}

.step-container__item1::before {
  content: '';
  position: absolute;
  background-image: url(../img/step/step1.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: -50px;
  width: 100px;
  height: 100px;
}

.step-container__item1::after {
  content: '';
  position: absolute;
  background-image: url(../img/step/stick.png);
  width: 2px;
  height: 400px;
  right: -35px;
  top: -80px;
}

.step-container__item2 {
  text-align: left;
  margin-left: 35px;
  position: relative;
}

.step-container__item2::before {
  content: '';
  position: absolute;
  background-image: url(../img/step/step2.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: -50px;
  width: 120px;
  height: 100px;
}

.step-container__item3 {
  text-align: right;
  margin-right: 35px;
  margin-top: 80px;
  position: relative;
}

.step-container__item3::before {
  content: '';
  position: absolute;
  background-image: url(../img/step/step3.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: -50px;
  width: 120px;
  height: 100px;
}

.step-container__item4 {
  text-align: left;
  margin-left: 35px;
  margin-top: 80px;
  position: relative;
}

.step-container__item4::before {
  content: '';
  position: absolute;
  background-image: url(../img/step/step4.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: -50px;
  width: 120px;
  height: 100px;
}

@media (max-width: 670px) {
  .step-container__item {
    font-size: 14px;
  }
}

@media (max-width: 604px) {
  .step-container__item {
    font-size: 12px;
  }
}

@media (max-width: 535px) {
  .step-container__item1 {
    margin-right: 15px;
  }
  .step-container__item1::after {
    right: -16px;
  }
  .step-container__item2 {
    margin-left: 20px;
  }
  .step-container__item3 {
    margin-right: 15px;
  }
  .step-container__item4 {
    margin-left: 15px;
  }
}

.read-btn {
  width: 100%;
  text-align: center;
  margin-top: 140px;
}

.read-btn img {
  max-width: 15px;
  display: block;
  margin: 20px auto 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.read-work {
  text-align: center;
  border: 1px dashed #213869;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: #0d0c11;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

.read-work:hover {
  color: #213869;
}

.page-cooperation {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cooperation__title {
  text-align: center;
  margin-top: 50px;
}

.cooperation__title span {
  border-bottom: 1px dashed #213869;
}

.cooperation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 25px;
}

.cooperation__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cooperation__arrow {
  width: 100%;
  max-width: 80px;
  margin: 50px auto 0;
}

.cooperation__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 16px 30px 5px rgba(45, 45, 45, 0.05);
          box-shadow: 0 16px 30px 5px rgba(45, 45, 45, 0.05);
}

.cooperation__number span {
  color: #213869;
  font-size: 2.6rem;
  font-weight: 700;
}

.cooperation__text {
  font-weight: 700;
  font-size: .9rem;
}

@media (max-width: 600px) {
  .cooperation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cooperation__item {
    margin: 15px 0 20px;
  }
  .cooperation__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 0;
  }
}

.page-momets {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-momets .h2-container {
  margin-top: 50px;
  margin-bottom: 25px;
}

.answer-container {
  margin: 0 auto;
}

.answer-item {
  max-width: 80%;
  margin: 15px auto;
  padding: 0 15px;
}

.answer-item__title {
  position: relative;
  font-size: 1rem;
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #939191;
  padding-bottom: 5px;
  border: 1px dashed #213869bb;
  padding: 15px;
}

.answer-item__title span {
  display: inline-block;
  max-width: 90%;
}

.answer-item__title:hover {
  cursor: pointer;
}

.answer-item__title:before, .answer-item__title:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #213869;
  position: absolute;
  top: 12px;
}

.answer-item__title:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 27px;
  right: 10px;
}

.answer-item__title:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 10px;
  top: 27px;
}

.answer-item__text {
  margin-top: 5px;
  padding: 10px;
  display: none;
  color: #0d0c11;
}

.answer-item__title.activeA {
  color: #0d0c11;
  font-weight: 700;
}

.answer-item__title.activeA:before,
.answer-item__title.activeA:after {
  background-color: #5EA2F1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.answer-item__title.activeA:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.answer-item__title.activeA:after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.page-partners {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-partners .h2-container {
  margin-top: 50px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px;
}

.partners__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  min-width: 250px;
  padding: 0 -10px;
  margin-top: 25px;
}

.partners__item img {
  max-width: 320px;
}

.partners__text {
  font-size: 0.9rem;
}

.footer {
  margin-top: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #f4f4f4;
  position: relative;
  z-index: 50;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-item .svetlana {
  text-transform: uppercase;
  color: #5d5d5d;
  font-weight: 700;
}

.footer-item .oferta {
  color: #888888;
  border-bottom: 1px solid #88888894;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer-item .oferta:hover {
  color: #213869;
}

.footer-item .vk {
  margin-left: 15px;
  margin-right: 15px;
}

.footer-item .brand {
  color: #757575;
  font-size: 0.9rem;
}

.footer-item .brand.last {
  text-align: right;
  margin-top: 25px;
  font-size: 0.9rem;
}

.footer-item .brand.prelast {
  text-align: left;
  margin-top: 25px;
  font-size: 0.9rem;
}

@media (max-width: 794px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand {
    text-align: center;
  }
  .footer-item:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .footer-item .brand.prelast {
    text-align: center;
  }
  .footer-item .brand.last {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-item {
    font-size: 1.2rem;
  }
  .footer-item .brand {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */